@media(max-width: $mobile) {
	#aiesec-footer {
		.vp-grid-4 {
			margin-bottom: 20px;
		}
		ul#menu-footer {
			display: block;
			li {
				text-align: center;
				display: block;
				padding: 5px 0;
			}
		}
	}
}