@media(max-width: $tablet) {
	header#header {
		.navbar-collapse {
			padding-left: 0;
			padding-right: 0;
			ul {
				li {
					margin-right: 20px;
				}
			}
		}
		.navbar-toggle {
			float: right;
			border: 2px solid $white;
			.icon-bar {
				background: $white;
			}
		}
	}
}

@media(max-width: $mobile){
	header#header {
		padding: 5px 0;
		#branding {
			height: 52px;
		}
		#mobile-menu-title {
			display: inline-block;
			color: $white;
			float: right;
			margin-right: 15px;
			line-height: 50px;
		}
		#menu-main-nav {
			li {
				&,
				& * {
					@include box-sizing(border-box);
				}
				margin-right: 0;
				width: 100%;
				padding: 5px 0;
				&.aiesec-sign-up {
					border: none;
					padding: 5px 0;
					@include border-radius(0);
				}
			}

		}
		.navbar-collapse {
			padding: 0 20px 20px 20px;
			width: 50%;
			position: absolute;
			right: 0;
			top: 57px;
			border-top: 0;
			box-shadow: none;
			background: $blue;
			z-index: 9;
		}

		.navbar-collapse ul li .sub-menu {
			display: block;
			margin-left: 20px;
			font-size: $font-size-small;
			padding-top: 10px;
		}

		.navbar-collapse ul li.current_page_item.current-menu-parent:after {
			top: 30px;
		}

	}
}