body {
	font-family: $font-family-default;
}

.page {
	font-family: $font-family-default;
}

a:hover{
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

p:empty {
	display: none;
}

.wrapper{
	max-width: 1024px;
	padding: 0 25px;
}