.vp-button {
	@include border-radius($border-radius !important);
	background-image: none !important;
	&:hover {
		color: #ffffff;
		box-shadow: 0px 313px rgba(0,0,0, 0.15) inset;
		text-decoration: none;
	}
}

.vp-button-large{
	margin: 0;
}

.image-caption{	
	width: 100%;
	margin: 0 !important;
	margin-top: -15px !important;
	border-radius: 0px !important;
}

.vp-box.vp-background-transparent{
	border: none;
}

.white-border{
	border:	1px solid $white;
}
