.wpcf7 .wpcf7-form{ // Wordpress contact form
	p {
		text-indent: 10px;
	}
	.wpcf7-form-control {
		@include border-radius($border-radius);
		padding: 10px;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		text-indent: 10px;
		border: none;
		color: $color-grey-mid;
	}
	.wpcf7-submit {
		padding: 20px 10px !important; // TODO: Fix hack
		background: $turquoise;
		color: $white;
		margin-left: -10px;
		border: 1px solid $white;
	}
}