#featured-news-header {
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
}

#featured-news-column {
	text-align: center;
}

#featured-news-content {
	margin-top: 20px;
	margin-bottom: 20px;
	p {
		font-size: $font-size-large;
	}
}

#featured-news-button {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.3);
	color: rgb(255,255,255);
	color: rgba(255,255,255,1);
}