#aiesec-social-media-footer {
	background-color: $footer-background;
	padding: 50px;
	.social-media-module {
		color: $white;
		text-align: center;
		padding: 50px;
		@include border-radius(20px);
		@include clearfix();
		margin-bottom: 20px;
		h2 {
			margin-top: 0.1em;
			margin-bottom: 0.2em;
		}
	}
	.social-media-module-twitter {
		background: $twitter-blue;
	}
	.social-media-module-linkedin {
		background: $linkedin-blue;
	}
	.social-media-module-facebook {
		background: $facebook-blue;
	}
	.social-media-module-instagram {
		background: $insta-blue;
		.instagram-feed-item {
			width: 25%;
			float: left;
			display: block;
		}
	}
}

#aiesec-footer {
	background-color: $footer-background;
	padding: 50px;
	@include clearfix();
	section {
		min-height: 0;
		padding: 10px 0;
	}
	.vp-grids {
	}
	.vp-grid-4 {
		background-color: $tile-background;
		color: $white;
		@include border-radius($border-radius);
		padding: 20px;
	}
	// Footer menu
	ul#menu-footer {
		margin: 20px 0;
		padding: 0;
		@include flexbox;
		@include justify-content(space-around);
		width: 100%;
		li {
			list-style-type: none;
			display: inline;
			margin: 0;
			padding: 0;
			a {
				color: $blue;
				font-weight: $font-weight-bold;
				font-size: 24px;
			}
		}
	}
	#copyright {
		p {
			max-width: 700px;
			margin: 0 auto;
			font-size: 14px;
		}
	}
}