header#header {
	background: $blue;
	padding: 0;
	a {
		color: $white;
	}
	#branding {
		float: left;
		display: block;
		background: url(#{$image-dir}/aiesec-logo.png) no-repeat center left;
		font-size: 0;
		width: 150px;
		height: 62px;
	}
	.navbar-collapse {
		float: left;
		max-height: none;
	}
	.navbar-collapse ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			padding: 20px 0;
			margin-right: 25px;
			font-weight: $font-weight-bold;
			position: relative;
			&.current_page_item.current-menu-parent:after {
				position: absolute;
				content: "";
				border-bottom: 2px solid $white;
				left: 0;
				top: 45px;
				height: 1px;
				width: 60px;
			}
			&.aiesec-sign-up {
				border: 2px solid $white;
				padding: 5px 10px;
				@include border-radius($border-radius);
			}
		}
	}
	.sub-menu {
		display: none;
	}
	@media(min-width: $mobile){
		.navbar-collapse ul li:hover {
			& .sub-menu {
				z-index: 9;
				display: block;
				position: absolute;
				top: 62px;
				background: $blue;
				border: 2px solid $white;
				left: -20px;
				padding: 10px 0;
				// width: 100%;
				max-width: 200px;
				white-space: nowrap;
				li {
					display: block;
					padding: 5px 20px;
				}
			}
		}
	}
	#mobile-menu-title {
		display: none;
	}
}