	.page h1,
	.h1 {
		font-size: 				72px;
		font-weight: 			$font-weight-bold;
		line-height: 			$line-height-default;
		margin:					1em 0;
	}

	.page h2,
	.h2 {
		font-size: 				60px;
		font-weight: 			$font-weight-bold;
		line-height: 			$line-height-default;		
		margin: 				1em 0;

	}

	.page h3,
	.h3 {
		font-size: 				48px;
		font-weight: 			$font-weight-default;
		line-height: 			$line-height-default;
		margin: 				1em 0;
	}

	.page h4,
	.h4 {
		font-size: 				48px;
		font-weight: 			$font-weight-light;
		line-height: 			$line-height-default;
		margin: 				1em 0;
	}

	.page h5,
	.h5 {
		font-size: 				36px;
		font-weight: 			$font-weight-default;
		line-height: 			$line-height-default;
		margin: 				1em 0;
	}	

	.page h6,
	.h6 {
		font-size: 				24px;
		font-weight: 			$font-weight-default;
		line-height: 			$line-height-default;
		margin: 				1em 0;
	}

	.page p, 
	.p {
		font-size: 				18px;
		line-height: 			1.3em;
		margin: 				0;
		padding-bottom: 		$padding-default;
	}

	.aiesec-tile{
		h2{
			margin: 0;
			padding: 0;
			line-height: 132px;
		}
		h5{
			margin: 0;
			padding: 0;
			line-height: 58px;
		}
	}