#news-title {
	color: $turquoise;
	text-align: center;
	display: block;
	font-size: $font-size-extra-large;
}

#news {
	background-color: rgb(243,244,247);
	background-color: rgba(243,244,247,1);
	color: rgb(51,51,51);
	color: rgba(51,51,51,1);
}

.news-column .news-tile-title {
	margin: 10px 0;
}

.news-column .news-button {
	background-color: rgb(48,195,158);
	background-color: rgba(48,195,158,1);
	color: rgb(255,255,255);
	color: rgba(255,255,255,1);
}

#news-column a {
	@extend .vp-button;
	background-color: $turquoise;
	color: $white;
	padding: 5px 10px;
}