section.vp-section {
	padding: 50px 0;
	width: 100%;
}

#section-1 .section-inner{
	max-width: 850px;
	margin: 0 auto;
}

#section-2, .section-2 {
	background-color: $section-2-background;
	min-height: 550px;
		.vp-box{
			max-width: 250px;
		}
}

.students-6-column{
	background-color: #52565e;
}
.color-palette-1{
	color: $default-text;
}

.color-palette-2{
	color: $white;
}

.vp-box{
	margin: $margin-default * 2;
}


.orange{
	background-color:  		$orange;
	color:  				$white;
}
.turquoise{
	background-color:  		$turquoise;
	color:  				$white;
}
.blue{
	background-color:  		$blue;
	color:  				$white;
}


